/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}
input{
border-left:0px;border-top:0px;border-right:0px;border-bottom:1px
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}



/*color*/

.primary{
    background-color: #398ee5;
    color: #ffffff;

}
.calm{
    background-color: #e7ecf0;
    color: #ffffff;
}

.ordinary{
    background-color: #0850b4;
    color: #ffffff;
 }
.light{
    background-color: #eaeaea;
    color: #ffffff;
}
.ordinary-font{
    color: #0850b4;
}


/*布局*/
.header{
    padding-top: 5%;
    height: 200px;
    font-size: 3em;
    text-align: center;
}
.header-h2{
    height: 76px;
    color: #111111;
    text-align: center;
    line-height: 76px;
    font-size: 28px;
}
item-bar{
    height: 20px;
}
.search-bar{
    height: 70px;
    margin: 2% 3%;
    border-radius: 10px;
    line-height: 70px;
    font-size: 32px;
    background-color: white;
    color: #838383;
}
.dice{
    display: inline-block;
    height: 40px;
    width: 10px;
    margin: 3%;
    border-radius: 10%;
    float: left;
}
.slice{
    border: 1px #bcbcbc solid;
    border-radius: 2%;
    margin: 2% 3%;
    font-size: 30px;
    padding: 2%;
}
.slice-two{
    width: 21vh;
    float: left;
}


.word{
    display: inline-block;
    font-size: 46px;
    margin: 3%;
    float: left;
}
.clear{
    clear:both /*清除浮动*/
}

.slice,.slice-two span{
    margin-left: 5%;
}


